.nav {
  background: black;
  height: 100px;;
  min-height: 70px;
  position: fixed;
  width: 100%;
  z-index: 99;
  white-space: nowrap;
}

.nav-title {
  text-decoration: none;
  color: goldenrod;
  font-weight: 800;
  font-size: 2rem;
  padding: 1% 1% 1% 5%;
  margin: 0 auto;
  /* margin-left: 1%; */
}

.message {
  text-decoration: none;
  color: goldenrod;
  font-weight: 800;
  font-size: 2rem;
  margin: 0 auto;
  margin-left: -4%;
  padding: 1%;
}

.scores {
  text-decoration: none;
  color: goldenrod;
  font-weight: 800;
  font-size: 2rem;
  margin: 0 auto;
  padding: 1%;
}
